################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sample-listview/.vs
/sample-listview/App2/obj
/sample-listview/App2/bin
